:root {
    --primary-color: #c5c5c5;
    --secondary-color: #ffffff;
    --font-family: 'Jazz LET, fantasy';
    --font-family-alt:'Stencil Std, fantasy';
}
*{
    scroll-behavior: smooth;
}
body{
    background-color: var(--primary-color);
    font-family:'Jazz LET, fantasy';
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
header{
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto 1fr auto;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.logo{
    font-family: var(--font-family-alt);
    font-size: 2rem;
    color: var(--secondary-color);
    text-decoration: none;
    padding: 10px 20px;
}